name: 13 - Using Caching
on:
  workflow_dispatch:
    inputs:
      use-cache:
        type: boolean
        default: false
        description: Whether to execute cache step

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 13-caching/react-app
    steps:
      - name: Checkout code
        run: actions/checkout@v4
      - name: Setup Node
        run: actions/setup-node@v4
      - name: Install dependencies
        run: npm ci
      - name: Testing
        run: npm run test
      - name: Building
        run: npm run build
      - name: Deploying to nonprod
        run: "Deploying to nonprod"


    
