name: 15 - Working with Matrices
on: 
  workflow_dispatch:

jobs:
  backwards-compatibility:
    name: ${{ matrix.os}}-${{ matrix.node-version}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [18.x, 20.x]
        os:
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Setup node
        uses: actions/setup-node@v3
        with: ${{ matrix.node-version }}




