name: Azure Lab setup

on:
  workflow_dispatch:
    inputs:
      target_environment:
        type: string
        default: staging
      

jobs:
  deploy:
    uses: ./.github/workflows/19-az-setup.yaml
    with:
      deply_version: 11.9
      az_resource_group: 'myaz_group'
      provision_databricks: false
      target_environment: ${{ inputs.target_environment }}
    secrets: inherit